{% extends "nav.html" %}
{% comment %} this is very imp as it applies image static  {% endcomment %}
{% load static %}
  {% block body %}
   <!-- Intro -->
    <div class="intro">
      <h1>TRY OUT THESE LEATHER PRODUCTS</h1>
           <h2>
             Up to</br>
             <span class="dis">30% 
               Discount</span></br>
             on This <br />
             New Year Season
           </h2>
           <h3>From 1st Jan to 31st Jan</h3>
           <a href="#" class="other-btn">SHOP NOW</a>
         </div>
       
   </header>
 
   <!--Benefits  -->
   <section class="section benefits">
     <div class="benefit-center box">
       <div class="benefit">
         <span class="icon"><i class="bx bx-purchase-tag"></i></span>
         <h4>Free Shipping</h4>
         <span class="text">Capped at $16 per order</span>
       </div>
 
      
       <div class="benefit">
         <span class="icon"><i class="bx bx-book-reader"></i></span>
         <h4>10-Day Returns</h4>
         <span class="text">Shop without any fear</span>
       </div>
 
       <div class="benefit">
         <span class="icon"><i class="bx bx-headphone"></i></span>
         <h4>24/7 Support</h4>
         <span class="text">We are always there to help you</span>
       </div>
     </div>
   </section>
 
   <!-- New Arrivals -->
   <section class="section">
     <div class="h">
       <h1><span>New</span> Arrivals</h1>
     </div>

<hr>
<br>
      {% for i,n_temp in prod_lis  %}
      <div id="category_name">
        <h1 >{{i.0.category}}</h1>
        <br>
      </div>
        
      <div class="ac-center box">
        {% for j in i %}
        <div class="ac">
          <div class="img-cover">
            <img src="/media/{{j.image}}" width="200" height="200" >
          </div>
          <p>{{j.product_name}}</p>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <div class="price">
            LKR 3000
          </div>
          <br>
          <!-- or we can add directly ankle tag use our class  -->
          {% comment %} <a href="#"> {% endcomment %}
            <button id="{{j.product_id}}" class="other-btn1 cart" >Add to Cart</button>
            <a href="/aboutus/{{j.product_id}}">
              <button id="{{j.product_id}}" class="other-btn1 cart" >Quick view</button>
            </a>
          {% comment %} </a> {% endcomment %}
        </div>
        {% endfor %}
      </div>
      <hr>
      <br>
      {% endfor %}
   </section>

   <!-- Shop By Category -->
   <section class="section">
     <div class="h">
       <h1><span>Shop By</span> Categories</h1>
     </div>
     <div class="ab box">
       <div class="item item-1">
         <img src="{% static 'my_images/product_1.avif' %}" >
     </div>
       <div class="item item-2">
         <img src="{% static 'my_images/product_1.avif' %}" >
     </div>
       <div class="item item-3">
         <img src="{% static 'my_images/product_1.avif' %}" >
     </div>
       <div class="item item-4">
         <img src="{% static 'my_images/product_1.avif' %}" >
     </div>
     </div>
   </section>
 
   <!-- Popular Products -->
   <section class="section">
     <div class="h">
       <h1>Popular <span>Products</span></h1>
     </div>
     <div class="ac-center box">
       <div class="ac">
         <div class="img-cover">
             <img src="{% static 'my_images/product_1.avif' %}" >
         </div>
         <p>Luxuary Leather hand bag-black</p>
         <div class="rating">
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bx-star"></i>
         </div>
         <div class="price">LKR 8500</div>
       </div>
 
       <div class="ac">
         <div class="img-cover">
             <img src="{% static 'my_images/product_1.avif' %}" >
         </div>
         <p>Covered leather sandal</p>
         <div class="rating">
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bx-star"></i>
         </div>
         <div class="price">LKR 5000</div>
       </div>
 
       <div class="ac">
         <div class="img-cover">
             <img src="{% static 'my_images/product_1.avif' %}" >
         </div>
         <p>Cute Wallet</p>
         <div class="rating">
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bx-star"></i>
         </div>
         <div class="price">LKR 1200</div>
       </div>
       <div class="ac">
         <div class="img-cover">
             <img src="{% static 'my_images/product_1.avif' %}" >
         </div>
         <p>Ladies wallet-purple</p>
         <div class="rating">
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bx-star"></i>
         </div>
         <div class="price">LKR 2000</div>
       </div>
       <div class="ac">
         <div class="img-cover">
             <img src="{% static 'my_images/product_1.avif' %}" >
         </div>
         <p>Black Sandals</p>
         <div class="rating">
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bx-star"></i>
         </div>
         <div class="price">LKR 3200</div>
       </div>
       <div class="ac">
         <div class="img-cover">
             <img src="{% static 'my_images/product_1.avif' %}" >
         </div>
         <p>Wallet-Ladies-2021</p>
         <div class="rating">
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bx-star"></i>
         </div>
         <div class="price">LKR 1600</div>
       </div>
       <div class="ac">
         <div class="img-cover">
             <img src="{% static 'my_images/product_1.avif' %}" >
         </div>
         <p>Handbag-Ladies-Pink</p>
         <div class="rating">
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bx-star"></i>
         </div>
         <div class="price">LKR 5600</div>
       </div>
       <div class="ac">
         <div class="img-cover">
             <img src="{% static 'my_images/product_1.avif' %}" >
         </div>
         <p>Mini Leather Wallet</p>
         <div class="rating">
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bx-star"></i>
         </div>
         <div class="price">LKR 1500</div>
       </div>
 
       <div class="ac">
         <div class="img-cover">
             <img src="{% static 'my_images/product_1.avif' %}" >
         </div>
         <p>Large Leather Wallet</p>
         <div class="rating">
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bxs-star"></i>
           <i class="bx bx-star"></i>
         </div>
         <div class="price">LKR 1500</div>
       </div>
     </div>
   </section> 
   <script>
    console.log('it is working');
    if(localStorage.getItem('cart')==null){
      var cart={};
    } 
    else{
      cart=JSON.parse(localStorage.getItem('cart'));
      {% comment %} else == when local storage me cart null nahi hai {% endcomment %}
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }
    {% comment %} stating j quert {% endcomment %}
    $('.cart').click(function(){

      console.log('clicked');
      var idstr= this.id.toString();
      console.log(idstr);
      if(cart[idstr]!= undefined) {
      cart[idstr] = cart[idstr]+1;
      }
      else{
      cart[idstr] = 1;
        
      }
      console.log(cart);
      localStorage.setItem('cart', JSON.stringify(cart));
      {% comment %} storing to localstorage by setItem  {% endcomment %}
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
      });

      
   </script>
   {% endblock body %}