{% load static %}
<!-- NAV BAR CONTENT  -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Boxicons -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- Custom StyleSheet -->
  {% comment %} <link rel="stylesheet" href="./style.css" /> {% endcomment %}
  <link rel="stylesheet" href="{% static 'mycss/index.css' %}">
  <link rel="stylesheet" href="{% static 'mycss/aboutus.css' %}">
  {% block style %}
  
  {% endblock style %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <title>Ani's Store</title>
</head>

<body>
  
  <!-- HEADER -->

 <header class="header">
  <nav>
    <a href="">
      <img src="{% static 'my_images/logo.png' %}" width="100" height="100" class="logob">
    </a>

    <ul>
        <li class= "{% if request.path == '/aboutus' %} active {% endif %}" > <a href="/aboutus">About us</a></li>
        <li class= "{% if request.path == '/contact' %} active {% endif %}" > <a href="/contact">Contact us</a></li>
        <li class= "{% if request.path == '/tracker' %} active {% endif %}" > <a href="/tracker">Tracker</a></li>
        <li class= "{% if request.path == '/register' %} active {% endif %}" > <a href="/register">Register</a></li>
        <li class= "{% if request.path == '/login' %} active {% endif %}" > <a href="/login">Login</a></li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="other-btn1" type="submit">Search</button>
    </form>
    <button id='popcart' type="button" class="other-btn1" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
      sagittis lacus vel augue laoreet rutrum faucibus.">
      Cart(<span id="cart">0</span>)
    </button>
    <button class="other-btn1 clear_cart" id="clear_cart "type="submit">Clear Cart</button>

</nav>
{% block body %}

{% endblock body %}

<!-- FOOTER CONTENT  -->
<section id="footer">
            
  <div class="foot">
      <ul>
          <li><a href="">HOME</a></li>
          <li><a href="">ABOUT US</a></li>
          <li><a href="">CONTACT US</a></li>

      </ul>

      <div class="social-links">
          <a href=""><i class="fab fa-linkedin"></i></a>
          <a href=""><i class="fab fa-behance"></i></a>
          <a href=""><i class="fab fa-dribbble"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
        </div>
  </div>
</section> 

</body>

</html>