{% load static %}
<!-- NAV BAR CONTENT  -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Boxicons -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- Custom StyleSheet -->
  {% comment %} <link rel="stylesheet" href="./style.css" /> {% endcomment %}
  <link rel="stylesheet" href="{% static 'mycss/index.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <title>ASHALI ONLINE STORE</title>
</head>

<body>
  
  <!-- HEADER -->

 <header class="header">
  <nav>
    <img src="{% static 'my_images/logo.png' %}" width="100" height="100" class="logob">

    <ul>
        <li class= "{% if request.path == '' %} active {% endif %}" > <a href="">Home</a></li>
        <li class= "{% if request.path == '/aboutus' %} active {% endif %}" > <a href="/aboutus">About us</a></li>
        <li class= "{% if request.path == '/contact' %} active {% endif %}" > <a href="/contact">Contact us</a></li>
        <li class= "{% if request.path == '/tracker' %} active {% endif %}" > <a href="/tracker">Tracker</a></li>
        <li class= "{% if request.path == '/Become_Seller' %} active {% endif %}" > <a href="/Become_Seller">Become Seller</a></li>
        <li class= "{% if request.path == '/search' %} active {% endif %}" > <a href="/search">Search</a></li>
        <li class= "{% if request.path == '/register' %} active {% endif %}" > <a href="/register">Register</a></li>
        <li class= "{% if request.path == '/login' %} active {% endif %}" > <a href="/login">Login</a></li>

    </ul>
</nav>
{% block body %}

{% endblock body %}

<!-- FOOTER CONTENT  -->
<section id="footer">
            
  <div class="foot">
      <ul>
          <li><a href="">HOME</a></li>
          <li><a href="">ABOUT US</a></li>
          <li><a href="">CONTACT US</a></li>

      </ul>

      <div class="social-links">
          <a href=""><i class="fab fa-linkedin"></i></a>
          <a href=""><i class="fab fa-behance"></i></a>
          <a href=""><i class="fab fa-dribbble"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
        </div>
  </div>
</section> 

{% block js %}

{% endblock js %}
</body>

</html>