{% extends "nav.html" %}
{% load static %}
  {% block body %}
    <h1>Welcome  {{name}} </h1><br>
    <h3>This is a your Dashyy Dashboard</h3><br>
    

    {% if perms.myweb.delete_products %}
    <a href="/product_form">
        <button id="btn1" class="other-btn1 cart" >Add Product</button>
    </a><br><br>
    <a href="/product_form">
        <button id="btn1" class="other-btn1 cart" >Delete Product</button>
    </a><br><br>
    <a href="/product_form">
        <button id="btn1" class="other-btn1 cart" >Edit Product</button>
    </a><br><br>
    <a href="/product_form">
        <button id="btn1" class="other-btn1 cart" >See Sales Stastitics</button>
    </a><br><br>

    {% else %}
        <a href="/checkout_page">
            <button id="btn1" class="other-btn1 cart" >Check Out My Cart</button>
        </a><br><br>    
    {% endif %}



    {% if users != None %}
        <h3>List of Users</h3>
        {% for user in users %}
            <a href="{% url 'userdetail' user.id %}">{{user.username}}</a>
            <br><br>
        {% endfor %}
    {% endif %}
    {% if messages %}
        {% for message in messages%}



        {% comment %} here we are assigning class as "success" for css prupose only {% endcomment %}
        </small
            {% if message.tags %} class ="{{message.tags}}"{% endif %}>   
            {% comment %} here small tag first part ends  {% endcomment %}
            {{message}} 
        </small>

        {% endfor %}
    {% endif %}

    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% comment %} {{form.as_p}} {% endcomment %}

        {% comment %} too see error fields when username/password is wrong {% endcomment %}
        
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <!-- we use p tag to get the error below in a seprate line  -->
                <p class ="er">{{error}}</p>
            {% endfor %}
        {% endif %}

        {% for fm in form %}
        {% comment %} labeltag field error  {% endcomment %}
        {{fm.label_tag}}{{fm}}{{fm.errors|striptags}} <br><br>

        {% endfor %}

        <button type="submit" value="save">Submit</button>
        {% comment %} we use value = save as when user want to change its details  {% endcomment %}
    </form>





    <a href="{% url 'sign_out' %}">LogOut</a>
    <a href="{% url 'change_pass' %}">Change Paaword</a>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


{% endblock body %}